<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dacoach.mapper.admin.AdminMapper">
	<select id="adminLogin" parameterType="map" resultType="com.dacoach.model.users.UsersDTO">
	select * from users
	where login_id=#{login_id} and password=#{password}
	</select>

	<select id="getCoachList" resultType="map"> 
	select
	c.coach_idx,
	u.user_idx,
	u.user_name,
	c.nickname,
	c.phone,
	u.created_at,
	u.status,
	(select count(*) 
		from cert c_sub
		where c_sub.user_idx = c.user_idx
		and cert_status = '대기') as cert_wait_count
	from
	coach c
	join
	users u on c.user_idx = u.user_idx
	order by
	u.created_at desc
	</select>
	
	<select id="getCertCount" resultType="int">
		select count(*) from cert where cert_type = '자격증' and cert_status = '대기'
	</select>
	
	<select id="getCoachDetail" parameterType="int" resultType="map">
	select 
	u.user_name,
	c.nickname,
	u.login_id,
	u.password,
	c.kakao_key,
	c.mail,
	c.birth_date,
	c.phone,
	c.photo
	from 
	coach c
	join
	users u on c.user_idx = u.user_idx	
	where u.user_idx=#{user_idx}
	</select>
	
	<select id="getCoachStatus" parameterType="int" resultType="String">
	select status from users where user_idx=#{user_idx}
	</select>
	
	<select id="getCoachEmbedded" parameterType="int" resultType="com.dacoach.model.admin.EmbeddedUserDTO">
	select * from
	(select *
	from EMBEDDED_USER
	where user_idx=#{user_idx}
	order by embed_user_idx desc)
	where rownum=1
	
	</select>
	
	<update id="updateCoachStatus" parameterType="map">
	update users set status=#{status} where user_idx=#{user_idx}
	</update>
	
	<insert id="insertCoachSuspended" parameterType="com.dacoach.model.admin.EmbeddedUserDTO">
	insert into embedded_user values (SEQ_EMBED_USER.nextval,#{user_idx},#{start_date},#{end_date},#{reason})
	</insert>
	
	<update id="updateEnddateSuspended" parameterType="int">
	update embedded_user
	set end_date=trunc(sysdate)
	where embed_user_idx=
	(select max(embed_user_idx)
	from embedded_user
	where user_idx=#{user_idx})
	</update>
	
	<select id="getWaitCertList" parameterType="int" resultType="com.dacoach.model.company.CertDTO">
	select cert_idx,cert_name,cert_file from cert 
	where user_idx=#{user_idx} and cert_status='대기'
	</select>
	
	<update id="updateCertStatus" parameterType="com.dacoach.model.company.CertDTO">
	update cert 
	set cert_name=#{cert_name, jdbcType=VARCHAR}, 
	get_date = #{get_date, jdbcType=DATE}, 
	cert_from=#{cert_from, jdbcType=VARCHAR}, 
	cert_status=#{cert_status, jdbcType=VARCHAR}
	where cert_idx=#{cert_idx}
	</update>
	
	<select id="getCertList" parameterType="int" resultType="com.dacoach.model.company.CertDTO">
	select cert_name,cert_from,get_date,cert_status from cert 
	where user_idx=#{user_idx} and (cert_status='승인' or cert_status='반려')
	order by cert_status desc
	</select>
	
	<select id="getKeywordType" resultType="map">
	select keyword_type,count(*) as cnt
	from keyword
	group by keyword_type
	order by keyword_type asc
	</select>
	
	<select id="getKeywordName" parameterType="String" resultType="String">
	select keyword_name 
	from keyword 
	<where>
		<if test="keyword_type != null and keyword_type != ''">
		keyword_type=#{keyword_type}
		</if>
	</where>
	</select>
	
	<select id="getTypeReview" parameterType="String" resultType="map">
	select
		r.review_idx,
		r.reviewer_idx,
		max(u.user_name) as user_name,
		r.role,
		max(r.content)as content,
		max(r.created_at) as created_at,	
		listagg(k.keyword_name,',') within group (order by k.keyword_name) as keywords
	from (
		select review_coach_idx as review_idx,reviewer_idx,content,created_at,'COACH' as role from review_coach
		union all
		select review_class_idx as review_idx,reviewer_idx,content,created_at,'CLASS' as role from review_class
	) r
	join users u on r.reviewer_idx = u.user_idx
	join (
		select keyword_type,keyword_name
		from keyword
		<where>
			<if test="keyword_type != null and keyword_type != ''">
				keyword_type=#{keyword_type}
			</if>
		</where>
	) k on r.content like '%' || k.keyword_name || '%'
	group by r.review_idx,r.reviewer_idx,r.role
	order by created_at desc
	</select>
	
	<insert id="insertKeyword" parameterType="map">
	insert into keyword (keyword_idx,keyword_type,keyword_name) values (seq_keyword.nextval,#{keyword_type},#{keyword_name})
	</insert>
	
	<delete id="deleteKeyword" parameterType="String">
	delete from keyword where keyword_name=#{keyword_name}
	</delete>
	
	<select id="selectCoachidx" parameterType="int" resultType="int">
	select coach_idx from coach where user_idx=#{user_idx}
	</select>
	
	<delete id="deleteReviewCoach" parameterType="int">
	delete from review_coach where review_coach_idx=#{review_idx}
	</delete>
	
	<delete id="deleteReviewClass" parameterType="int">
	delete from review_class where review_class_idx=#{review_idx}
	</delete>
	
	<select id="getNoticeList" resultType="map" parameterType="String">
	select 
	q.qna_idx,
	q.qna_type,
	q.title,
	u.user_name,
	q.created_at
	from qna q
	join users u on q.user_idx = u.user_idx
		<where>
		u.user_type='ADMIN'
		and q.qna_type!='운영정책'
		
			<if test="keyword != null and keyword != ''">
			and (
				q.title like '%' || #{keyword} || '%' or
				q.qna_type like '%' || #{keyword} || '%' or
				u.user_name like '%' || #{keyword} || '%' or
				q.qna_idx like '%' || #{keyword} || '%'
			)
			</if>
		</where>
		order by q.qna_idx desc
	</select>
	
	<insert id="insertNotice" parameterType="com.dacoach.model.qna.QnaDTO">
	insert into qna values (seq_qna.nextval,#{user_idx},#{qna_type},#{title},#{question},sysdate)
	</insert>
	
	<select id="getNoticeContent" parameterType="int" resultType="com.dacoach.model.qna.QnaDTO">
	select q.qna_idx,u.user_name,q.qna_type,q.title,q.question,q.created_at
	from qna q
	join users u on q.user_idx=u.user_idx
	where q.qna_idx=#{qna_idx}
	</select>
	
	<update id="updateNotice" parameterType="com.dacoach.model.qna.QnaDTO">
	update qna set qna_type=#{qna_type}, title=#{title}, question=#{question} where qna_idx=#{qna_idx}
	</update>
	
	<delete id="deleteNotice" parameterType="int">
	delete from qna where qna_idx=#{qna_idx}
	</delete>
	
	<select id="getQnaList" resultType="map" parameterType="String">
	select 
	q.qna_idx,
	u.user_name,
	q.qna_type,
	q.title,
	q.created_at,
	case when a.qna_a_idx is null then '대기' else '완료' end as status
	from qna q
	join users u on q.user_idx=u.user_idx
	left join qna_a a on q.qna_idx= a.qna_idx
		<where>
		(u.user_type='COACH' or u.user_type='COMPANY')
		    <if test="keyword != null and keyword != ''">
			and (
			q.title like '%' || #{keyword} || '%' or
			q.qna_type like '%' || #{keyword} || '%' or
			u.user_name like '%' || #{keyword} || '%' or
			(case when a.qna_a_idx is null then '대기' else '완료' end) = #{keyword}
			)
		    </if>
		</where>
	order by q.qna_idx desc
	</select>
	
	<select id="getQnaContent" parameterType="int" resultType="map">
	select q.qna_idx,
	q.qna_type,
	q.title as q_title,
	u.user_name,
	q.created_at as q_created_at,
	q.question,
	a.qna_a_idx,
	a.title as a_title,
	a.answer,
	a.created_at as a_created_at
	from qna q
	join users u on q.user_idx=u.user_idx
	left join qna_a a on q.qna_idx = a.qna_idx
	where q.qna_idx=#{qna_idx}
	</select>
	
	<insert id="insertQnaAnswer" parameterType="com.dacoach.model.qna.Qna_aDTO">
	insert into qna_a values (seq_qna_a.nextval,#{qna_idx},#{title},#{answer},sysdate)
	</insert>
	
	<update id="updateQnaAnswer" parameterType="com.dacoach.model.qna.Qna_aDTO">
	update qna_a set title=#{title}, answer=#{answer}, created_at=sysdate where qna_a_idx=#{qna_a_idx}
	</update>
	
	<delete id="deleteQnaAnswer" parameterType="int">
	delete from qna_a where qna_a_idx=#{qna_a_idx}
	</delete>
	
	<select id="getMajorField" resultType="map">
	select * from major_field
	</select>
	
	<select id="getMinorField" parameterType="int" resultType="map">
	select * from minor_field where major_field_idx=#{major_field_idx}
	</select>
	
	<insert id="insertMinorField" parameterType="map">
	insert into minor_field values (seq_minor_field.nextval,#{major_field_idx},#{minor_field_nm})
	</insert>
	
	<update id="updateMinorField" parameterType="map">
	update minor_field set minor_field_nm =#{minor_field_nm} where minor_field_idx=#{minor_field_idx}
	</update>
	
	<select id="reportList">
	select
	r.report_idx,
	rt.content,
	u1.user_name as reporter_name,
	u2.user_name as reported_name,
	r.status,
	r.created_at
	from report r
	join users u1 on r.reporter_idx=u1.user_idx
	join users u2 on r.reported_idx=u2.user_idx
	join reason_type rt on r.reason_type_idx=rt.reason_type_idx
	order by report_idx desc
	</select>
	
	<select id="reportContent">
	select
	r.report_idx,
	rt.content as report_type,
	r.status,
	r.created_at,
	u1.user_name as reporter_name,
	u1.user_idx as reporter_idx,
	u2.user_name as reported_name,
	u2.user_idx as reported_idx,
	u2.user_type,
	r.content
	from report r
	join users u1 on r.reporter_idx=u1.user_idx
	join users u2 on r.reported_idx=u2.user_idx
	join reason_type rt on r.reason_type_idx=rt.reason_type_idx
	where r.report_idx=#{report_idx}
	</select>
	
	<select id="getCoachIdx">
	select coach_idx from coach where user_idx=#{user_idx}
	</select>
	
	<select id="getCompanyIdx">
	select company_idx from company where user_idx=#{user_idx}
	</select>
	
	<update id="updateReport" parameterType="com.dacoach.model.report.ReportDTO">
	update report set status=#{status},updated_at=sysdate where report_idx=#{report_idx}
	</update>
	
	<select id="newUsers">
	select count(*) from users
	where created_at >= trunc(sysdate)
	and created_at <![CDATA[<]]> trunc(sysdate) + 1
	and user_type!='ADMIN'
  	</select>
  	
  	<select id="pendingReports">
  	select count(*) from report
  	where status='WAIT'
  	</select>
  	
  	<select id="inactiveCompany">
  	select count(*) from users
  	where user_type='COMPANY' and status='INACTIVE'
  	</select>
  	
  	<select id="dailySales">
	select sum(p.total)/10000
	from pay p
	join pay_status ps on p.tid=ps.tid
	where ps.status='완료됨'
	and p.approved_at >= trunc(sysdate)
	and p.approved_at <![CDATA[<]]> trunc(sysdate) + 1
  	</select>
  	
  	<select id="monthlySales">
	select sum(p.total) as totals
	from pay p
	join pay_status ps on p.tid=ps.tid
	where ps.status='완료됨'
	and p.approved_at >= trunc(sysdate,'MM')
	and p.approved_at <![CDATA[<]]> add_months(trunc(sysdate,'MM'),1)
  	</select>
  	
  	<select id="lastMonthSales">
  	select sum(p.total) as totals
	from pay p
	join pay_status ps on p.tid=ps.tid
	where ps.status='완료됨'
	and p.approved_at >= add_months(trunc(sysdate,'MM'),-1)
	and p.approved_at <![CDATA[<]]> trunc(sysdate,'MM')
  	</select>
  	
  	<select id="weeklySales">
	SELECT
	d.dt AS sales_date,
	TO_CHAR(d.dt, 'DY', 'NLS_DATE_LANGUAGE=ENGLISH') AS day_name,
	ROUND(NVL(SUM(p.total), 0) / 10000, 1) AS daily_revenue
	FROM (
	SELECT TRUNC(SYSDATE) - (LEVEL - 1) AS dt
	FROM DUAL
	CONNECT BY LEVEL <![CDATA[<=]]> 7
	) d
	LEFT OUTER JOIN (
	SELECT DISTINCT p.tid, p.total, p.approved_at
	FROM pay p
	JOIN pay_status ps ON p.tid = ps.tid
	WHERE ps.status = '완료됨'
	) p ON TRUNC(p.approved_at) = d.dt
	GROUP BY d.dt
	ORDER BY d.dt ASC
  	</select>
</mapper>