<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dacoach.mapper.admin.AdminMapper">
	<select id="getCoachList" resultType="map">
	select
	c.coach_idx,
	u.user_idx,
	u.user_name,
	c.nickname,
	c.phone,
	u.created_at,
	u.status,
	(select count(*) 
		from cert c_sub
		where c_sub.user_idx = c.user_idx
		and cert_status = '대기') as cert_wait_count
	from
	coach c
	join
	users u on c.user_idx = u.user_idx
	order by
	u.created_at desc
	</select>
	
	<select id="getCertCount" resultType="int">
		select count(*) from cert where cert_type = '자격증' and cert_status = '대기'
	</select>
	
	<select id="getCoachDetail" parameterType="int" resultType="map">
	select 
	u.user_name,
	c.nickname,
	u.login_id,
	u.password,
	c.kakao_key,
	c.mail,
	c.birth_date,
	c.phone,
	c.photo
	from 
	coach c
	join
	users u on c.user_idx = u.user_idx
	where c.coach_idx=#{coach_idx}
	</select>
	
	<select id="getCoachStatus" parameterType="int" resultType="String">
	select status from users where user_idx=#{user_idx}
	</select>
	
	<select id="getCoachEmbedded" parameterType="int" resultType="com.dacoach.model.admin.EmbeddedUserDTO">
	select * from
	(select *
	from EMBEDDED_USER
	where user_idx=#{user_idx}
	order by embed_user_idx desc)
	where rownum=1
	
	</select>
	
	<update id="updateCoachStatus" parameterType="map">
	update users set status=#{status} where user_idx=#{user_idx}
	</update>
	
	<insert id="insertCoachSuspended" parameterType="com.dacoach.model.admin.EmbeddedUserDTO">
	insert into embedded_user values (SEQ_EMBED_USER.nextval,#{user_idx},#{start_date},#{end_date},#{reason})
	</insert>
	
	<update id="updateEnddateSuspended" parameterType="int">
	update embedded_user
	set end_date=trunc(sysdate)
	where embed_user_idx=
	(select max(embed_user_idx)
	from embedded_user
	where user_idx=#{user_idx})
	</update>
</mapper>