<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dacoach.mapper.admin.AdminMapper">
	<select id="adminLogin" parameterType="map" resultType="com.dacoach.model.users.UsersDTO">
	select * from users
	where login_id=#{login_id} and password=#{password}
	</select>

	<select id="getCoachList" resultType="map"> 
	select
	c.coach_idx,
	u.user_idx,
	u.user_name,
	c.nickname,
	c.phone,
	u.created_at,
	u.status,
	(select count(*) 
		from cert c_sub
		where c_sub.user_idx = c.user_idx
		and cert_status = '대기') as cert_wait_count
	from
	coach c
	join
	users u on c.user_idx = u.user_idx
	order by
	u.created_at desc
	</select>
	
	<select id="getCertCount" resultType="int">
		select count(*) from cert where cert_type = '자격증' and cert_status = '대기'
	</select>
	
	<select id="getCoachDetail" parameterType="int" resultType="map">
	select 
	u.user_name,
	c.nickname,
	u.login_id,
	u.password,
	c.kakao_key,
	c.mail,
	c.birth_date,
	c.phone,
	c.photo
	from 
	coach c
	join
	users u on c.user_idx = u.user_idx
	where c.coach_idx=#{coach_idx}
	</select>
	
	<select id="getCoachStatus" parameterType="int" resultType="String">
	select status from users where user_idx=#{user_idx}
	</select>
	
	<select id="getCoachEmbedded" parameterType="int" resultType="com.dacoach.model.admin.EmbeddedUserDTO">
	select * from
	(select *
	from EMBEDDED_USER
	where user_idx=#{user_idx}
	order by embed_user_idx desc)
	where rownum=1
	
	</select>
	
	<update id="updateCoachStatus" parameterType="map">
	update users set status=#{status} where user_idx=#{user_idx}
	</update>
	
	<insert id="insertCoachSuspended" parameterType="com.dacoach.model.admin.EmbeddedUserDTO">
	insert into embedded_user values (SEQ_EMBED_USER.nextval,#{user_idx},#{start_date},#{end_date},#{reason})
	</insert>
	
	<update id="updateEnddateSuspended" parameterType="int">
	update embedded_user
	set end_date=trunc(sysdate)
	where embed_user_idx=
	(select max(embed_user_idx)
	from embedded_user
	where user_idx=#{user_idx})
	</update>
	
	<select id="getKeywordType" resultType="map">
	select keyword_type,count(*) as cnt
	from keyword
	group by keyword_type
	order by keyword_type asc
	</select>
	
	<select id="getKeywordName" parameterType="String" resultType="String">
	select keyword_name 
	from keyword 
	<where>
		<if test="keyword_type != null and keyword_type != ''">
		keyword_type=#{keyword_type}
		</if>
	</where>
	</select>
	
	<select id="getTypeReview" parameterType="String" resultType="map">
	select
		r.review_idx,
		r.reviewer_idx,
		max(u.user_name) as user_name,
		r.role,
		max(r.content)as content,
		max(r.created_at) as created_at,	
		listagg(k.keyword_name,',') within group (order by k.keyword_name) as keywords
	from (
		select review_coach_idx as review_idx,reviewer_idx,content,created_at,'COACH' as role from review_coach
		union all
		select review_class_idx as review_idx,reviewer_idx,content,created_at,'CLASS' as role from review_class
	) r
	join users u on r.reviewer_idx = u.user_idx
	join (
		select keyword_type,keyword_name
		from keyword
		<where>
			<if test="keyword_type != null and keyword_type != ''">
				keyword_type=#{keyword_type}
			</if>
		</where>
	) k on r.content like '%' || k.keyword_name || '%'
	group by r.review_idx,r.reviewer_idx,r.role
	order by created_at desc
	</select>
	
	<insert id="insertKeyword" parameterType="map">
	insert into keyword (keyword_idx,keyword_type,keyword_name) values (seq_keyword.nextval,#{keyword_type},#{keyword_name})
	</insert>
	
	<delete id="deleteKeyword" parameterType="String">
	delete from keyword where keyword_name=#{keyword_name}
	</delete>
	
	<select id="selectCoachidx" parameterType="int" resultType="int">
	select coach_idx from coach where user_idx=#{user_idx}
	</select>
	
	<delete id="deleteReviewCoach" parameterType="int">
	delete from review_coach where review_coach_idx=#{review_idx}
	</delete>
	
	<delete id="deleteReviewClass" parameterType="int">
	delete from review_class where review_class_idx=#{review_idx}
	</delete>
	
	<select id="getNoticeList" resultType="map" parameterType="String">
	select 
	q.qna_idx,
	q.qna_type,
	q.title,
	u.user_name,
	q.created_at
	from qna q
	join users u on q.user_idx = u.user_idx
		<where>
		u.user_type='ADMIN'
		and q.qna_type!='운영정책'
		
			<if test="keyword != null and keyword != ''">
			and (
				q.title like '%' || #{keyword} || '%' or
				q.qna_type like '%' || #{keyword} || '%' or
				u.user_name like '%' || #{keyword} || '%' or
				q.qna_idx like '%' || #{keyword} || '%'
			)
			</if>
		</where>
		order by q.qna_idx desc
	</select>
	
	<insert id="insertNotice" parameterType="com.dacoach.model.qna.QnaDTO">
	insert into qna values (seq_qna.nextval,#{user_idx},#{qna_type},#{title},#{question},sysdate)
	</insert>
	
	<select id="getNoticeContent" parameterType="int" resultType="com.dacoach.model.qna.QnaDTO">
	select q.qna_idx,u.user_name,q.qna_type,q.title,q.question,q.created_at
	from qna q
	join users u on q.user_idx=u.user_idx
	where q.qna_idx=#{qna_idx}
	</select>
	
	<update id="updateNotice" parameterType="com.dacoach.model.qna.QnaDTO">
	update qna set qna_type=#{qna_type}, title=#{title}, question=#{question} where qna_idx=#{qna_idx}
	</update>
	
	<delete id="deleteNotice" parameterType="int">
	delete from qna where qna_idx=#{qna_idx}
	</delete>
	
	<select id="getMajorField" resultType="map">
	select * from major_field
	</select>
	
	<select id="getMinorField" parameterType="int" resultType="map">
	select * from minor_field where major_field_idx=#{major_field_idx}
	</select>
	
	<insert id="insertMinorField" parameterType="map">
	insert into minor_field values (seq_minor_field.nextval,#{major_field_idx},#{minor_field_nm})
	</insert>
	
	<update id="updateMinorField" parameterType="map">
	update minor_field set minor_field_nm =#{minor_field_nm} where minor_field_idx=#{minor_field_idx}
	</update>
</mapper>