<!-- admin/company/companyList.html -->
<div th:fragment="contentPage">
  <h2 class="text-xl font-bold mb-6">기업고객관리</h2>

  <div class="card !p-0 overflow-hidden">
    <table class="w-full text-center border-collapse">
      <thead class="bg-gray-200">
        <tr>
          <th class="py-2">번호</th>
          <th class="py-2">기업명</th>
          <th class="py-2">사업자번호</th>
          <th class="py-2">승인여부</th>
          <th class="py-2">상세</th>
	        </tr>
      </thead>
      <tbody>
       <tr th:each="row : ${companyList}">
  <td th:text="${row.company.company_idx}"></td>
  <td th:text="${row.users.user_name}"></td>
  <td th:text="${row.company.company_num}"></td>
  <td th:text="${row.cert_status}"></td>
  <td>
  <a th:href="@{/admin/companyDetail/{usersIdx}(usersIdx=${row.users_idx})}">
    상세
  </a>
</td>


</tr>




        <tr th:if="${#lists.isEmpty(companyList)}">
          <td colspan="5" class="text-gray-500 py-4">데이터가 없습니다.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
