<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8" />
  <title>dacoach</title>

  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
  <div th:replace="layout/header :: siteHeader"></div>

  <main class="main">
    <div class="container">
    	<div class="categoryArea">
    		<span>관심 분야를 선택해보세요</span>
    		
		      <div class="category">
		      	<div class="categoryUnit">
		      		<img src="/img/icon/computer.png">
		      		<span>IT/전자</span>
		      	</div>
		      	<div class="categoryUnit">
		      		<img src="/img/icon/art.png">
		      		<span>예술</span>
		      	</div>
		      	<div class="categoryUnit">
		      		<img src="/img/icon/language.png">
		      		<span>어학</span>
		      	</div>
		      	<div class="categoryUnit">
		      		<img src="/img/icon/money.png">
		      		<span>투자/금융</span>
		      	</div>
		      	<div class="categoryUnit">
		      		<img src="/img/icon/sport.png">
		      		<span>스포츠</span>
		      	</div>
		      	<div class="categoryUnit">
		      		<img src="/img/icon/life.png">
		      		<span>생활</span>
		      	</div>
		      	<div class="categoryUnit">
		      		<img src="/img/icon/beauty.png">
		      		<span>패션/뷰티</span>
		      	</div>
		      	<div class="categoryUnit">
		      		<img src="/img/icon/interior.png">
		      		<span>인테리어</span>
		      	</div>
		      	<div class="categoryUnit">
		      		<img src="/img/icon/cooking.png">
		      		<span>요리</span>
		      	</div>
		      	<div class="categoryUnit">
		      		<img src="/img/icon/game.png">
		      		<span>게임</span>
		      	</div>
		      </div>
		      
    	</div>
      
    </div>
  </main>
  
  <div th:replace="layout/footer :: siteFooter"></div>

</body>
</html>
