<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/mypage.css}" />
</head>
<body>
	<div th:replace="layout/header :: siteHeader"></div>
	
	<main class="main">
    	<div class="container">
    	<div class="breadcrumb">
        <a th:href="@{/mypage}">마이페이지</a>
        <span class="sep">&gt;</span>
        <span>1:1 문의</span>
      </div>

      <h2 class="pageTitle">1:1 문의</h2>
      <hr class="line"/>

      <!-- 리스트 -->
      <div class="qnaWrap">

        <!-- 없을 때 -->
        <div class="empty" th:if="${#lists.isEmpty(qnaList)}">
          등록된 문의가 없습니다.
        </div>

        <!-- 항목 -->
        <div class="qnaItem"
             th:each="q : ${qnaList}"
             th:onclick="|location.href='@{/qna/detail(qnaIdx=${q.qnaIdx})}'|">

          <div class="qnaTop">
            <div class="qnaTitleRow">
              <span class="qMark">Q.</span>
              <span class="qTitle" th:text="${q.title}">환불 문의</span>
            </div>

            <!-- 상태 배지: 일단 임시로 고정 -->
            <span class="badge waiting">답변 대기</span>
          </div>

          <div class="qnaPreview" th:text="${q.question}">
            안녕하세요, 과외정보관리 관련해서 궁금한 점이 있습니다. 혹시...
          </div>

        </div>

      </div>
    	</div>
    </main>
    
    <div th:replace="layout/footer :: siteFooter"></div>
</body>
</html>