<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dacoach.mapper.adminregions.AdminRegionsMapper">
	<select id="selectMajorRegions" resultType="com.dacoach.majorregion.model.MajorRegionDTO">
		select
		major_region_idx ,
		region_nm
		from major_region
		order by major_region_idx
	</select>
	
	<select id="selectMinorRegions" resultType="com.dacoach.minorregion.model.MinorRegionDTO">
		select
        minor_region_idx ,
        major_region_idx ,
        district_nm
        from minor_region
        where major_region_idx = #{majorRegionIdx}
        order by minor_region_idx
	</select>
	
	<update id="updateMinorRegions" parameterType="com.dacoach.minorregion.model.MinorRegionDTO">
        UPDATE MINOR_REGION
        SET DISTRICT_NM = #{district_nm}
        WHERE MINOR_REGION_IDX = #{minor_region_idx}
    </update>
	
	<insert id="insertMinorRegions" parameterType="com.dacoach.minorregion.model.MinorRegionDTO">
        INSERT INTO MINOR_REGION (
            MINOR_REGION_IDX,
            MAJOR_REGION_IDX,
            DISTRICT_NM
        ) VALUES (
            SEQ_MINOR_REGION.NEXTVAL,
            #{major_region_idx},
            #{district_nm}
        )
    </insert>
</mapper>