<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.dacoach.mapper.adminregions.AdminRegionsMapper">
  	<select id="selectMajorRegions" resultType="map">
  		select
  			major_region_idx,
  			region_nm
  		from major_region
  		order by major_region_idx
  	</select>
  </mapper>