<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dacoach.mapper.classes.ClassMapper">

	<!-- 클래스 등록 -->
	<insert id="insertClass"
		parameterType="com.dacoach.model.classes.ClassDTO">
		INSERT INTO CLASS (
		CLASS_IDX,
		PROVIDER_IDX,
		TITLE,
		INTRO,
		MINOR_FIELD_IDX,
		MINOR_REGION_IDX,
		PRICE,
		PHOTO,
		VIDEO,
		START_DATE,
		END_DATE,
		CREATED_AT,
		MAX_USER_CNT
		)
		VALUES (
		SEQ_CLASS.NEXTVAL,
		#{provider_idx},
		#{title},
		#{intro},
		#{minor_field_idx},
		#{minor_region_idx},
		#{price},
		#{photo},
		#{video},
		#{start_date},
		#{end_date},
		SYSDATE,
		#{max_user_cnt}
		)
	</insert>

	<!-- 대분류 조회 -->
	<select id="selectMajorFields" resultType="map">
		SELECT
		MAJOR_FIELD_IDX,
		MAJOR_FIELD_CD
		FROM MAJOR_FIELD
		ORDER BY MAJOR_FIELD_IDX
	</select>

	<!-- 소분류 조회 (대분류별) -->
	<select id="selectMinorFields" parameterType="int"
		resultType="map">
		SELECT
		MINOR_FIELD_IDX,
		MINOR_FIELD_NM
		FROM MINOR_FIELD
		WHERE
		MAJOR_FIELD_IDX = #{major_field_idx}
		ORDER BY MINOR_FIELD_NM
	</select>

	<!-- 대지역 조회 -->
	<select id="selectMajorRegions" resultType="map">
		SELECT
		MAJOR_REGION_IDX,
		REGION_NM
		FROM MAJOR_REGION
		ORDER BY MAJOR_REGION_IDX
	</select>

	<!-- 소지역 조회 (대지역별) -->
	<select id="selectMinorRegions" parameterType="int"
		resultType="map">
		SELECT
		MINOR_REGION_IDX,
		DISTRICT_NM
		FROM MINOR_REGION
		WHERE
		MAJOR_REGION_IDX = #{major_region_idx}
		ORDER BY DISTRICT_NM
	</select>

	<select id="selectClassesByProvider" parameterType="int"
		resultType="com.dacoach.model.classes.ClassDTO">
		SELECT
		CLASS_IDX,
		PROVIDER_IDX,
		TITLE,
		INTRO,
		MINOR_FIELD_IDX,
		MINOR_REGION_IDX,
		PRICE,
		PHOTO,
		VIDEO,
		START_DATE,
		END_DATE,
		CREATED_AT,
		MAX_USER_CNT
		FROM CLASS
		WHERE PROVIDER_IDX = #{provider_idx}
		ORDER BY CREATED_AT DESC
	</select>

	<!-- 코치 - 클래스 검색 -->
	<select id="classSearch" parameterType="map"
		resultType="com.dacoach.model.classes.ClassDTO">
		SELECT
		c.CLASS_IDX,
		c.PROVIDER_IDX,
		u.USER_NAME,
		c.TITLE,
		c.INTRO,
		c.MINOR_FIELD_IDX,
		c.MINOR_REGION_IDX,
		c.PRICE,
		c.PHOTO,
		c.VIDEO,
		c.START_DATE,
		c.END_DATE,
		c.CREATED_AT,
		c.MAX_USER_CNT,

		NVL(r.AVG_RATING, 0) AS AVG_RATING,
		NVL(r.REVIEW_CNT, 0) AS REVIEW_CNT

		FROM CLASS c
		LEFT JOIN MINOR_FIELD mf ON mf.MINOR_FIELD_IDX = c.MINOR_FIELD_IDX
		LEFT JOIN MINOR_REGION mr ON mr.MINOR_REGION_IDX = c.MINOR_REGION_IDX
		LEFT JOIN USERS u
		ON u.USER_IDX = c.PROVIDER_IDX
		LEFT JOIN (
		SELECT
		CLASS_IDX,
		ROUND(AVG(RATING), 1) AS AVG_RATING,
		COUNT(*) AS REVIEW_CNT
		FROM REVIEW_CLASS
		GROUP BY CLASS_IDX
		) r ON r.CLASS_IDX = c.CLASS_IDX

		<where>
			<if test="minorField != null">
				AND c.MINOR_FIELD_IDX = #{minorField}
			</if>
			<if test="minorField == null and majorField != null">
				AND mf.MAJOR_FIELD_IDX = #{majorField}
			</if>

			<if test="minorRegion != null">
				AND c.MINOR_REGION_IDX = #{minorRegion}
			</if>
			<if test="minorRegion == null and majorRegion != null">
				AND mr.MAJOR_REGION_IDX = #{majorRegion}
			</if>

			<if test="q != null and q != ''">
				AND (c.TITLE LIKE '%' || #{q} || '%'
				OR c.INTRO LIKE '%' || #{q} || '%')
			</if>
		</where>

		<choose>
			<when test="sort == 'rating'">
				ORDER BY r.AVG_RATING DESC NULLS LAST,
				r.REVIEW_CNT DESC,
				c.CREATED_AT DESC
			</when>

			<when test="sort == 'most'">
				ORDER BY NVL(r.REVIEW_CNT, 0) desc,
				c.CREATED_AT DESC
			</when>

			<when test="sort == 'priceAsc'">
				ORDER BY c.PRICE ASC NULLS LAST, c.CREATED_AT DESC
			</when>

			<when test="sort == 'priceDesc'">
				ORDER BY c.PRICE DESC NULLS LAST, c.CREATED_AT DESC
			</when>

			<otherwise>
				ORDER BY c.CREATED_AT DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="getClassDetail" parameterType="int" resultType="com.dacoach.model.classes.ClassDTO">
		SELECT
		CLASS_IDX,
		PROVIDER_IDX,
		TITLE,
		INTRO,
		MINOR_FIELD_IDX,
		MINOR_REGION_IDX,
		PRICE,
		PHOTO,
		VIDEO,
		START_DATE,
		END_DATE,
		CREATED_AT,
		MAX_USER_CNT
		FROM CLASS
		WHERE CLASS_IDX = #{class_idx}
	</select>
	
</mapper>