<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.dacoach.mapper.company.CompanyMapper">
  	<select id="fieldTag" resultType="List">
  		select * from MAJOR_FIELD
  	</select>
  	
  	<select id="regionTag" resultType="List">
  		select * from MAJOR_REGION
  	</select>
  </mapper>