<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.dacoach.mapper.company.CompanyMapper">
  	<select id="fieldTag">
  		select * from major_field order by major_field_idx asc
  	</select>
  	
  	<select id="regionTag">
  		select * from major_region order by major_region_idx asc
  	</select>
  	
  	<select id="getRegionTag">
  		select * from minor_region
            where major_region_idx=#{idx}
            order by minor_region_idx asc
  	</select>
  	
  	<insert id="joinOk">
  		insert into users values
  			(seq_users.nextval,
  			#{user_type},
  			#{user_name},
  			#{login_id},
  			#{password},
  			#{status},
  			sysdate
  			) 	
  	</insert>
  	
  	<insert id="companyInfo">
  		insert into company(
  			company_idx,
  			user_idx,
  			company_num,
  			phone,
  			address,
  			email,
  			intro,
  			photo,
  			kakao_key
  		)
  		values (
  			seq_company.nextval,
  			#{user_idx},
  			#{company_num},
  			#{phone},
  			#{address},
  			#{email},
  			#{intro},
  			<if test="photo != null">
  				#{photo},
  			</if>
  			<if test="photo == null">
  				null,
  			</if>
  			null
  			
  		)
  	</insert>
  	<insert id="insertcert">
  		insert into cert(
  			cert_idx,
  			user_idx,
  			cert_name,
  			get_date,
  			cert_from,
  			cert_type,
  			cert_file,
  			cert_status
  		)
  		values (
  			seq_cert.nextval,
  			#{user_idx},
  			#{cert_name, jdbcType=VARCHAR},
  			null,
  			null,
  			#{cert_type},
  			<if test="cert_file !=null">
  			#{cert_file},
  			</if>
  			<if test="cert_file == null">
  			null,
  			</if>
  			#{cert_status}			
  		)
  	</insert>
  	<insert id="addRegion">
  		insert into company_region (
  			company_idx,
  			major_region_idx,
  			minor_region_idx,
  			region_detail,
  			branch_name,
  			branch_tel) 
  		
  		values (
	  		#{company_idx},
	  		#{major_region_idx},
	  		#{minor_region_idx},
	  		#{region_detail},
	  		#{branch_name},
	  		#{branch_tel}
  		)
  		
  	</insert>
  	<insert id="provideOk">
  		insert into company_provide (
  			company_idx,
  			minor_field_idx
  		) 
  		values (
  			#{company_idx},
  			#{minor_field_idx}
  		)
  	
  	</insert>
  	
  	<select id="getCompanyAllRegion">
  		select * from company_region where company_idx=#{company_idx}
  	</select>
  	
  	<select id="getCompanyProvide">
  		select major_field_cd,b.*
		from major_field,
		(select minor_field_nm,major_field_idx,a.*
		from minor_field,
		(select * from company_provide where company_idx=#{idx}) a
		where minor_field.minor_field_idx=a.minor_field_idx) b
		where major_field.major_field_idx=b.major_field_idx
  	</select>
  	
  	<select id="getCompanyCert">
  		select * from cert where user_idx=#{idx}
  	</select>
  	
  	<select id="getCompanyRegion">
  		select 
		major_region.region_nm,minor_region.district_nm,region_detail,branch_name,branch_tel
		from major_region,minor_region,
		(select * from company_region where company_idx=#{idx}) a
		where
		major_region.major_region_idx=a.major_region_idx and
		minor_region.minor_region_idx=a.minor_region_idx
  	</select>
  	<select id="getUserIdx">
  		select user_idx from users where login_id=#{login_id}
  	</select>
  	
  	<select id="getCompanyNum">
  		select company_idx from company where user_idx=#{idx}
  	</select>
  	
  	<select id="getMinorField">
  		select * from minor_field where major_field_idx=#{idx}
  	</select>
  	
  	<select id="getCompanyInfo">
  		select * from company where user_idx=#{idx}
  	</select>
  	
  	<select id="provideCheck">
  		select * from company_provide where company_idx=#{idx}
  	</select>
  	
  	<select id="regionCheck">
  		select * from company_region where company_idx=#{idx}
  	</select>
  	
  	<select id="companyProfile">
  		select major_field.major_field_cd,c.* 
		from major_field,
		(select minor_field.major_field_idx,minor_field.minor_field_nm,b.* 
		from minor_field,
		(select 
		company.user_idx,company.company_idx,company.phone,users.user_name,
		company.address,company.email,company.intro,decode(company.photo,null,'/img/profile/defaultProfile.jpg')as photo,minor_field_idx
		from users,company,company_provide,
		(select user_idx 
		from membership 
		where member_idx=#{member_idx}) a
		where users.user_idx=a.user_idx and 
		company.user_idx=a.user_idx and 
		company_provide.company_idx=company.company_idx) b
		where minor_field.minor_field_idx = b.minor_field_idx) c
		where major_field.major_field_idx = c.major_field_idx
  	</select>
  	
  	<select id="getProfileClass">
  		select major_field.major_field_cd,major_region.region_nm,b.*
		from
		major_region,major_field,
		(select minor_field.major_field_idx,
		minor_field.minor_field_nm,
		minor_region.major_region_idx,
		minor_region.district_nm,
		a.*    
		from minor_field,minor_region,
		(select * from class 
		where provider_idx=#{idx} and	
		end_date <![CDATA[>=]]> #{today} 
		) a
		where minor_field.minor_field_idx=a.minor_field_idx 
		and minor_region.minor_region_idx=a.minor_region_idx) b
		where
		major_field.major_field_idx=b.major_field_idx
		and major_region.major_region_idx = b.major_region_idx

  		
  	</select>
  </mapper>