<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dacoach.mapper.adminSupport.SupportMapper">
	
	<select id="getNoticeTotalCnt">
    select count(*)
    from qna q
    join users u on q.user_idx = u.user_idx
	    <where>
	        u.user_type = 'ADMIN'
	        and q.qna_type != '운영정책'
	        
	        <if test="keyword != null and keyword != ''">
	            and (
	                q.title like '%' || #{keyword} || '%' or
	                q.qna_type like '%' || #{keyword} || '%' or
	                u.user_name like '%' || #{keyword} || '%' or
	                q.qna_idx like '%' || #{keyword} || '%'
	            )
	        </if>
	    </where>
	</select>
	
	<select id="getNoticeList" resultType="map" parameterType="String">
	select * from (
		select rownum rnum,a.* from(
			select 
			q.qna_idx,
			q.qna_type,
			q.title,
			u.user_name,
			q.created_at
			from qna q
			join users u on q.user_idx = u.user_idx
			<where>
			u.user_type='ADMIN'
			and q.qna_type!='운영정책'
			
				<if test="keyword != null and keyword != ''">
				and (
					q.title like '%' || #{keyword} || '%' or
					q.qna_type like '%' || #{keyword} || '%' or
					u.user_name like '%' || #{keyword} || '%' or
					q.qna_idx like '%' || #{keyword} || '%'
				)
				</if>
			</where>
			order by q.qna_idx desc
		)a
	)where rnum between #{start} and #{end}
	</select>
	
	<insert id="insertNotice" parameterType="com.dacoach.model.qna.QnaDTO">
	insert into qna values (seq_qna.nextval,#{user_idx},#{qna_type},#{title},#{question},sysdate)
	</insert>
	
	<select id="getNoticeContent" parameterType="int" resultType="com.dacoach.model.qna.QnaDTO">
	select q.qna_idx,u.user_name,q.qna_type,q.title,q.question,q.created_at
	from qna q
	join users u on q.user_idx=u.user_idx
	where q.qna_idx=#{qna_idx}
	</select>
	
	<update id="updateNotice" parameterType="com.dacoach.model.qna.QnaDTO">
	update qna set qna_type=#{qna_type}, title=#{title}, question=#{question} where qna_idx=#{qna_idx}
	</update>
	
	<delete id="deleteNotice" parameterType="int">
	delete from qna where qna_idx=#{qna_idx}
	</delete>
	
	<select id="getQnaTotalCnt">
	SELECT COUNT(*)
    FROM qna q
    JOIN users u ON q.user_idx = u.user_idx
    LEFT JOIN qna_a a ON q.qna_idx = a.qna_idx
    <where>
        (u.user_type = 'COACH' OR u.user_type = 'COMPANY')
        <if test="keyword != null and keyword != ''">
            AND (
                q.title LIKE '%' || #{keyword} || '%' OR
                q.qna_type LIKE '%' || #{keyword} || '%' OR
                u.user_name LIKE '%' || #{keyword} || '%' OR
                (CASE WHEN a.qna_a_idx IS NULL THEN '대기' ELSE '완료' END) = #{keyword}
            )
        </if>
    </where>
	</select>
	
	<select id="getQnaList" resultType="map">
	select * from (
		select rownum rnum,a.* from(
			select 
			q.qna_idx,
			u.user_name,
			q.qna_type,
			q.title,
			q.created_at,
			case when a.qna_a_idx is null then '대기' else '완료' end as status
			from qna q
			join users u on q.user_idx=u.user_idx
			left join qna_a a on q.qna_idx= a.qna_idx
				<where>
				(u.user_type='COACH' or u.user_type='COMPANY')
				    <if test="keyword != null and keyword != ''">
					and (
					q.title like '%' || #{keyword} || '%' or
					q.qna_type like '%' || #{keyword} || '%' or
					u.user_name like '%' || #{keyword} || '%' or
					(case when a.qna_a_idx is null then '대기' else '완료' end) = #{keyword}
					)
				    </if>
				</where>
			order by q.qna_idx desc
		)a
	)where rnum between #{start} and #{end}
	</select>
	
	<select id="getQnaContent" parameterType="int" resultType="map">
	select q.qna_idx,
	q.qna_type,
	q.title as q_title,
	u.user_name,
	q.created_at as q_created_at,
	q.question,
	a.qna_a_idx,
	a.title as a_title,
	a.answer,
	a.created_at as a_created_at
	from qna q
	join users u on q.user_idx=u.user_idx
	left join qna_a a on q.qna_idx = a.qna_idx
	where q.qna_idx=#{qna_idx}
	</select>
	
	<insert id="insertQnaAnswer" parameterType="com.dacoach.model.qna.Qna_aDTO">
	insert into qna_a values (seq_qna_a.nextval,#{qna_idx},#{title},#{answer},sysdate)
	</insert>
	
	<update id="updateQnaAnswer" parameterType="com.dacoach.model.qna.Qna_aDTO">
	update qna_a set title=#{title}, answer=#{answer}, created_at=sysdate where qna_a_idx=#{qna_a_idx}
	</update>
	
	<delete id="deleteQnaAnswer" parameterType="int">
	delete from qna_a where qna_a_idx=#{qna_a_idx}
	</delete>
	
	<select id="getReportTotalCnt">
	SELECT COUNT(*)
    FROM report r
    JOIN users u1 ON r.reporter_idx = u1.user_idx
    JOIN users u2 ON r.reported_idx = u2.user_idx
    JOIN reason_type rt ON r.reason_type_idx = rt.reason_type_idx
    <where>
        <if test="status != null and status != ''">
            AND r.status = #{status}
        </if>
    </where>
	</select>
	
	<select id="reportList">
	select * from(
		select rownum rnum,a.* from(
			select
			r.report_idx,
			rt.content,
			u1.user_name as reporter_name,
			u2.user_name as reported_name,
			r.status,
			r.created_at
			from report r
			join users u1 on r.reporter_idx=u1.user_idx
			join users u2 on r.reported_idx=u2.user_idx
			join reason_type rt on r.reason_type_idx=rt.reason_type_idx
			<where>
				<if test="status != null and status != ''">
					and r.status=#{status}
				</if>
			</where>
			order by r.report_idx desc
		)a
	)where rnum between #{start} and #{end}
	</select>
	
	<select id="reportContent">
	select * from(
	select
	r.report_idx,
	rt.content as report_type,
	r.status,
	r.created_at,
	u1.user_name as reporter_name,
	u1.user_idx as reporter_idx,
	u2.user_name as reported_name,
	u2.user_idx as reported_idx,
	u2.user_type,
	r.content,
	n.content as answer
	from report r
	join users u1 on r.reporter_idx=u1.user_idx
	join users u2 on r.reported_idx=u2.user_idx
	join reason_type rt on r.reason_type_idx=rt.reason_type_idx
	left join notification n on to_char(r.report_idx)=n.noti_type
	where r.report_idx=#{report_idx}
	)where rownum=1
	</select>
	
	<select id="getCoachIdx">
	select coach_idx from coach where user_idx=#{user_idx}
	</select>
	
	<select id="getCompanyIdx">
	select company_idx from company where user_idx=#{user_idx}
	</select>
	
	<update id="updateReport" parameterType="com.dacoach.model.report.ReportDTO">
	update report set status=#{status},updated_at=sysdate where report_idx=#{report_idx}
	</update>
  	
</mapper>