<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

   <meta charset="UTF-8" />
   <title>dacoach</title>

   <link rel="stylesheet" th:href="@{/css/main.css}" />
  
</head>
<body>
   <div th:replace="~{layout/header :: siteHeader}"></div>

   <main class="main">
   <div class="container">
      
      <div class="profileTop">
      	
      	<span id="photoSpan">
      		<img th:src="${profile.PHOTO =='/img/profile/defaultProfile.jpg'}?'/img/profile/defaultProfile.jpg': '/uploads/'+${profile.PHOTO)}" id="photoImgTag">
      	</span>
      	
      	<span id="nameSpan">
      		[[${profile.USER_NAME}]]
      	</span>
      	<span id="introSpan">
      		[[${profile.INTRO}]]
      	</span>
      	<span id="emailSpan">
      		E-MAIL: [[${profile.EMAIL}]]
      	</span>
      	<span id="addressSpan">
      		📍 [[${profile.ADDRESS}]]
      	</span>
      	<span id="phoneSpan">
      		📞 [[${profile.PHONE}]]
      	</span>
      </div>
      <div class="profileMiddle_field">
      	<span id="fieldSpan">
      		제공분야: [[${profile.MAJOR_FIELD_CD}]] [[${profile.MINOR_FIELD_NM}]]
      	</span>
      	<span id="regionSpan" th:each="region:${regionList}">
      		📍[[${region.REGION_NM}]] [[${region.DISTRICT_NM}]]
      	</span>
      </div>
      <div class="profileBottom">
      	<span id="classSpan" th:each="class:${classList}">
      		<img th:src="'/uploads/'+${class.PHOTO}">
      		
      		<span id="classRegionSpan">[[${class.REGION_NM }]]</span>
      		<span id="classDistrictSpan">[[${class.DISTRICT_NM }]]</span>
      		<span id="classRegionDetailSpan">[[${class.REGION_DETAIL }]]</span>
      		<span id="classTitleSpan">[[${class.TITLE }]]</span>
      		<span id="classIntroSpan">[[${class.INTRO }]]</span>
      		<span id="classPriceSpan">[[${class.PRICE }]]</span>
      		<span id="classStartDateSpan">[[${class.START_DATE }]]</span>
      		<span id="classEndDateSpan">[[${class.END_DATE }]]</span>
      		<span id="classRatingSpan">별점 </span>
      		<span id="majorFiledSpan">[[${class.MAJOR_FIELD_CD }]]</span>
      		<span id="minorFiledSpan">[[${class.MINOR_FIELD_NM }]]</span>
      		<input type="hidden" id="classIdx" th:value="${class.CLASS_IDX}">
      	</span>
      </div>
      </div>
     
   </main>  
   <div th:replace="~{layout/footer :: siteFooter}"></div>
   <script th:inline="javascript">
   	var goClass=document.getElementById('classSpan');
   	var classIdx=document.getElementById('classIdx').value;
   	goClass.onclick=function(){
   		window.location.href='/coach/classDetail?id='+classIdx;
   	}
   </script>
</body>