@charset "UTF-8";

/* ======================
   Base
====================== */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pretendard", "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #111;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  font-family: inherit;
}

hr {
	border: none;
	border-bottom: 1px solid #D5D5D5;
	padding-top: 20px;
	margin: 0px 0px;
}

/* ======================
   Container (900px)
====================== */
.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 16px;
}

.container h2 {
	text-align: center;
}

/* ======================
   Header
====================== */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border-bottom: none;
}

/* 스크롤 시 적용될 클래스 */
.header.scrolled {
  border-bottom: 1px solid #edf0f2;
}

.header__inner {
  height: 72px;
  align-items: center;
  gap: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo img {
	width: 100px;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 18px;

  flex-shrink: 0;          /* ⭐ 절대 줄어들지 않게 */
}

/* ======================
   Footer
====================== */
.footer {
  bottom: 0;
  border-top: 1px solid #edf0f2;
  background: #fff;
}

.footer__inner{
  padding: 34px 0 48px;
}

.footerTop{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footerLeft{
	flex: 1;
  min-width: 260px;
}

.csTel{
  font-size: 22px;
  font-weight: 800;
  color: #328889;
  margin-bottom: 6px;
}

.csTime{
  font-size: 13px;
  color: #666;
  line-height: 1.45;
}

.csTime span{
  color: #999;
}


/* right columns */
.footerRight{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerColTitle{
  font-size: 13px;
  font-weight: 800;
  color: #222;
  margin-bottom: 10px;
}

.footerCol a{
  display: block;
  font-size: 12px;
  color: #666;
  padding: 4px 0;
}

.footerCol a:hover{
  color: #111;
}

/* policy row */
.footerPolicy{
  margin-top: 26px;
  padding-top: 18px;
  border-top: 1px solid #f1f1f1;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.footerPolicy a{
  font-size: 12px;
  color: #666;
}

.footerPolicy a.strong{
  color: #111;
  font-weight: 700;
}

/* info */
.footerInfo{
  margin-top: 14px;
  position: relative;
  font-size: 11px;
  color: #888;
  line-height: 1.6;
}

.footerInfo .copy{
  margin-top: 10px;
  color: #9a9a9a;
}



/* responsive */
@media (max-width: 940px){
  .footerTop{
    flex-direction: column;
  }
  .footerRight{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sns{
    position: static;
    margin-top: 16px;
    justify-content: flex-start;
  }
}

/* ======================
   GNB
====================== */
.gnb {
  display: flex;
  gap: 18px;
  margin-left: 8px;
  flex-shrink: 0;
}

.gnb a {
  font-size: 16px;
  padding: 8px 6px;
  font-weight: 700;
  color: black;
}

.gnb:last-child a {
	color: #333;
	font-weight: 600;
}

.gnb a:hover {
  color: #111;
}

/* ======================
   Header Spacer
====================== */
.header__spacer {
  flex: 1;
}

/* ======================
   Search
====================== */
.search {
  width: 280px;
  min-width: 280px;
  flex-shrink: 0;
  height: 38px;
  border-radius: 999px;
  background: #F8F9FA;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
}

.search .icon {
  font-size: 16px;
  opacity: 0.6;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 13px;
}

/* ======================
   Header Icons
====================== */
.headerIcons {
  display: flex;
  gap: 13px;
}

.iconBtn {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconBtn img {
	width: 30px;
}

.iconBtn:last-child img {
	border-radius: 50%;
}

/* ======================
   Main
====================== */
.main {
  padding: 36px 0 60px;
}

.categoryArea {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	padding: 10px 20px 0;
	position: relative;
	border-top: 1px solid #EFEFEF;
}

.categoryArea > span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background: #fff;
  padding: 0 14px;
  
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.category {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 15px;
}

.categoryUnit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.categoryUnit img {
	width: 40px;
}

.categoryUnit span {
	font-size: 14px;
	font-weight: 500;
}

/************** main section ******************/
.mainSection {
	margin-top: 50px;
}
.mainSection>span {
	font-weight: 700;
	font-size: 17px;
	
}

.mainSectionUnit {
	margin-top: 10px;
	min-height: 180px;
	background-color: #F8F9FA;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	gap: 12px;
	padding: 0px 15px;
	justify-content: flex-start;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;

	scrollbar-width: none;
}

.mainSectionUnit .card {
	min-width: 200px;
	height: 150px;
	background: #fff;
	border-radius: 8px;
	flex-shrink: 0;
}


/********** adBanner ************/
.adBanner {
	margin-top: 50px;
	min-width: 868px;
	/*min-height: 156px;*/
	min-height: 120px;
	background-color: #F8F9FA;
}

.adBanner img {
	width: 868px;
	height: 120px;
	object-fit: cover;
}

/* ======================
   Notification
====================== */
.iconBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.notiIcon .notiDot {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #E53935;
  box-shadow: 0 0 0 2px #fff;
}