<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.dacoach.mapper.kakaopay.KakaopayMapper">
  
  <insert id="insertPayStatus">
  	insert into pay_status values (
  		#{tid},
  		#{partner_order_id},
  		#{partner_user_id},
  		#{status}
  	)
  </insert>
  <select id="getPayStatus">
  	SELECT tid, partner_order_id, partner_user_id, status
	FROM (
		SELECT tid, partner_order_id, partner_user_id, status
		FROM pay_status
		WHERE tid = #{tid}
		ORDER BY ROWID DESC
		)
	WHERE ROWNUM = 1
  </select>
  
  <update id="upPayStatus">
  	update pay_status set status=#{status} where tid= #{tid}
  </update>
  
  <insert id="cancelOk">
  	insert into pay_cancel values (
  		#{tid},
  		#{partner_order_id},
  		#{partner_user_id}.
  		#{canceled_at},
  		#{payload},
  		#{approved_cancel_amount.total},
  		#{approved_cancel_amount.tax_free},
  		#{approved_cancel_amount.vat},
  		#{approved_cancel_amount.point},
  		#{approved_cancel_amount.discount},
  		#{approved_cancel_amount.green_deposit}
  	)
  </insert>
  <insert id="insertPay">
  	insert into pay values(
  		seq_pay.nextval,
  		#{tid},
  		#{cid},
  		#{sid},
  		#{partner_order_id},
  		#{partner_user_id},
  		#{item_name},
  		#{item_code},
  		#{quantity},
  		#{created_at},
  		#{approved_at},
  		#{amount.total},
  		#{amount.tax_free},
  		#{amount.vat},
  		#{amount.point},
  		#{amount.discount},
  		#{amount.green_deposit},
  		#{payment_method_type}
  	)
  </insert>
  
  <select id="paySelect">
  	select * from pay where pay_idx=#{pay_idx}
  </select>
  
  </mapper>