<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.dacoach.mapper.kakaopay.KakaopayMapper">
  
  <insert id="insertPayStatus">
  	insert into pay_status values (
  		#{tid},
  		#{partner_order_id},
  		#{partner_user_id},
  		#{status},
  		'사유'
  	)
  </insert>
  <select id="getPayStatus" resultType="com.dacoach.kakaopay.PayStatusDTO">
  	SELECT tid, partner_order_id, partner_user_id, status
	FROM (
		SELECT tid, partner_order_id, partner_user_id, status
		FROM pay_status
		WHERE tid = #{tid}
		ORDER BY ROWID DESC
		)
	WHERE ROWNUM = 1
  </select>
  
  <update id="upPayStatus">
    update pay_status set status=#{status} where tid=#{tid}
</update>
  
  <insert id="cancelOk">
  	insert into pay_cancel values (
  		#{tid},
  		#{partner_order_id},
  		#{partner_user_id},
  		#{canceled_at},
  		#{payload, jdbcType=VARCHAR},
  		#{approved_cancel_amount.total},
  		#{approved_cancel_amount.tax_free},
  		#{approved_cancel_amount.vat},
  		#{approved_cancel_amount.point},
  		#{approved_cancel_amount.discount},
  		#{approved_cancel_amount.green_deposit}
  	)
  </insert>
  <insert id="insertPay">
  	insert into pay values(
  		seq_pay.nextval,
  		#{tid},
  		#{cid},
  		#{sid},
  		#{partner_order_id},
  		#{partner_user_id},
  		#{item_name},
  		#{item_code},
  		#{quantity},
  		#{created_at},
  		#{approved_at},
  		#{amount.total},
  		#{amount.tax_free},
  		#{amount.vat},
  		#{amount.point},
  		#{amount.discount},
  		#{amount.green_deposit},
  		#{payment_method_type}
  	)
  </insert>
  
  <select id="paySelect" resultType="com.dacoach.kakaopay.PayDTO">
  	select * from pay where pay_idx=#{pay_idx}
  </select>
  
  <select id="selectRefundList" resultType="map">
    <![CDATA[
    SELECT * FROM (
        SELECT rownum rnum, a.* FROM (
            SELECT
                p.partner_order_id  as "partner_order_id",
                p.partner_user_id   as "partner_user_id",
                p.item_name         as "item_name",
                p.total             as "total",
                p.approved_at       as "approved_at",
                p.pay_idx           as "pay_idx",
                ps.tid              as "tid",
                ps.status           as "status",
                ps.payload          as "payload"
            FROM pay_status ps
            JOIN pay p ON ps.tid = p.tid
            WHERE ps.status = '환불요청'
            ORDER BY p.pay_idx DESC
        ) a
    )
    WHERE rnum BETWEEN #{startRow} AND #{endRow}
    ]]>
</select>

<select id="getRefundTotalCnt" resultType="int">
    SELECT COUNT(*)
    FROM pay_status ps
    JOIN pay p ON ps.tid = p.tid
    WHERE ps.status = '환불요청'
</select>

  
  <select id="selectPayStatus" resultType="com.dacoach.kakaopay.PayDTO">
  	select 
  	p.*, ps.status,ps.payload
  	from pay p 
  	join pay_status ps on p.tid=ps.tid
  	where p.pay_idx=#{pay_idx}
  </select>
  
  </mapper>