<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="adminHeader" class="admin-header">

    <a th:href="@{/admin/index}" class="admin-header__logo">
        dacoach
    </a>

    <div class="admin-header__search-wrap">
        <input type="text" class="admin-header__search-input" placeholder="검색어를 입력하세요">
        <i class="fa-solid fa-magnifying-glass admin-header__search-icon"></i>
    </div>

    <div class="admin-header__user-info">
        관리자 <span class="admin-header__user-name"
            th:text="${session.loginAdmin != null ? session.loginAdmin.user_name : '관리자'}">
            홍길동 </span>님 | 
        <a th:href="@{/admin/logout}" class="admin-header__logout-btn">로그아웃</a>
    </div>
</div>
</html>