<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.dacoach.mapper.membership.MembershipMapper">
  
  	<insert id="defaultMembership">
  	insert into membership values (
  	seq_membership.nextval,#{idx},1,sysdate,null,null
  	)
  	</insert>
  	<select id="userMembershipInfo">
  		select * from membership where user_idx=#{idx}
  	</select>
  	
  	<select id="detailInfo">
  		select * from membership_detail where member_detail_idx != #{idx}
  	</select>
  	
  	<select id="detail">
  		select * from membership_detail where member_detail_idx = #{idx}
  	</select>
  	
  	<update id="membershipUpdate">
  		update membership set 
  		member_detail_idx=#{member_detail_idx},
  		start_date=sysdate,
  		end_date=add_months(sysdate,1),
  		status=null
  		where user_idx=#{user_idx}
  	</update>
  	
  	<update id="membershipDown">
  		update membership set
  		status='취소'
  		where user_idx=#{user_idx}
  	</update>
  	
  	<update id="autoUpdate">
  		update membership set
  		member_detail_idx=1,
  		start_date=#{end_date}+1,
  		end_date=null,
  		status=null
  	</update>
  	
  	<insert id="bannerAdd">
  		insert into ad values(
  			seq_ad.nextval,
  			#{member_idx},
  			#{photo},
  			sysdate
  		)
  	</insert>
  	<update id="bannerUp">
  		update ad set photo=#{photo}
  			where member_idx=#{member_idx}
  	</update>
  	<select id="bannerSelect">
  		select * from ad 
  		<where>
  			<if test="member_idx!=null">
  				member_idx=#{member_idx}
  			</if>
  		</where>
  	</select>
  </mapper>