<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dacoach.mapper.coach.CoachMapper">
	<select id="idCheck" parameterType="String" resultType="Integer">
		select count(*) from users where login_id = #{loginId}
	</select>
	<insert id="coachProfile" parameterType="com.dacoach.model.users.UsersDTO">
    INSERT INTO users (
        users_idx, user_type, user_name, login_id, password, status, created_at) 
    VALUES (
        seq_users.nextval, 
        #{user_type}, 
        #{user_name}, 
        #{login_id}, 
        #{password}, 
        #{status}, 
        sysdate
    )
</insert>
</mapper>