<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <footer class="footer" th:fragment="siteFooter">
      <div class="container footer__inner">

        <!-- 상단 2단 -->
        <div class="footerTop">
          <!-- left -->
          <div class="footerLeft">
            <div class="csTel">0000-0000</div>
            <div class="csTime">
              평일 09:00 - 18:00<br/>
              <span>(점심시간 12:00 - 13:00 / 주말·공휴일 제외)</span>
            </div>

            
          </div>

          <!-- right -->
          <div class="footerRight">
            <div class="footerCol">
              <div class="footerColTitle">다코치</div>
              <a th:href="@{/howItWorks}">서비스 소개</a>
            </div>
            <div class="footerCol">
              <div class="footerColTitle">코치/클래스</div>
              <a th:href="@{/}">코치 찾기</a>
              <a th:href="@{/}">클래스</a>
              <a th:href="@{/howItWorks}">코치 가이드</a>
              <a href="#">신고하기</a>
            </div>
            <div class="footerCol">
              <div class="footerColTitle">고객센터</div>
              <a th:href="@{/admin/noticepolicy}">공지사항</a>
              <a href="/myQnaForm">1:1 문의</a>
              <a th:href="@{/support/policy}">운영정책</a>
            </div>	
          </div>
        </div>

        <!-- 약관 라인 -->
        <div class="footerPolicy">
          <a href="#">이용약관</a>
          <a href="#" class="strong">개인정보 처리방침</a>
          <a href="#">광고/마케팅</a>
          <a href="#">사업자정보확인</a>
          <a th:href="@{/support/policy}">운영정책</a>
        </div>

        <!-- 회사 정보 -->
        <div class="footerInfo">
          <div>
            상호명: (주)다코치 · 대표: 다코치 · 사업자등록번호: 000-00-00000
          </div>
          <div>
            주소: 서울특별시 마포구 · 고객센터: 0000-0000 · 이메일: help@dacoach.com
          </div>
          <div class="copy">
            Copyright ©쌍용. All Rights Reserved.
          </div>

         
        </div>

      </div>
    </footer>
  </body>
</html>
