<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

   <meta charset="UTF-8" />
   <title>dacoach</title>
<script>
	function show(){
		//var parameter={cid:"yml에서 받기",tid:"DB에서뺴오기",cancel_amount:총가격,cancel_vat_amount:부과세,cancel_tax_free_amount:면세,payload:"취소사유"};
		
		var parameters={cid:"TC0ONETIME",tid:"T98946c478814f4106b0",cancel_amount:10000,cancel_vat_amount:0,cancel_tax_free_amount:0,payload:"취소사유"};
		
		fetch('/membershipApi/cancel',
				{method:'POST',
				headers:{'Content-Type':'application/json'},
				body:JSON.stringify(parameters)})
				
		.then(function(resp){
			if(resp.ok){
				return resp.text();
			}else{
				throw new Error('에러남');
			}
			
		})

		.then(function(data){
			var val=JSON.parse(data);
			
		})

		.catch(function(error){
			alert(error.message);
		});
	}
</script>
   <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
   <div th:replace="~{layout/header :: siteHeader}"></div>

   <main class="main">
   <div class="container">
      <input type="button" value="test" onclick="show()">
   </div>
   </main>
  
   <div th:replace="~{layout/footer :: siteFooter}"></div>
</body>