<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

   <meta charset="UTF-8" />
   <title>dacoach</title>
<script src="/js/kakaopayModule.js"></script>
   <link rel="stylesheet" th:href="@{/css/main.css}" />
   <link rel="stylesheet" th:href="@{/css/company/companyMembership.css}" />
</head>
<body>
   <div th:replace="~{layout/header :: siteHeader}"></div>

   <main class="main">
   <div class="container">
   <div class="category">
   	<a href="/membership/membershipForm">멤버십 관리</a>
   	<a href="/membership/membershipUpForm">멤버십 변경하기</a>
   	<a th:if="${dto.member_detail_idx==2}" href="/membership/banner">배너광고</a>
   </div>
      <div th:if="${dto.member_detail_idx==1}">
      	<input type="button" value="프리미엄 회원 가입하기" id="membershipUpBtn"> 
      	
      </div>
      <div th:if="${dto.member_detail_idx==2}">
      	
      	 <input th:if="${dto.status==null}" type="button" value="멤버십 해지하기" id="membershipDownBtn">
      	 <div class="downReasonDiv" id="downReasonDiv" style="display: none">
      	 	<form name="fm" th:if="${downReason!=null}">
      	 		<div th:each="down:${downReason}">
      	 		<input type="radio" name="downReason" th:value="down.reason_type_idx">[[${down.content}]]
      	 		<input th:if="${down.content=='기타'}" type="text" name="downReason" placeholder="사유를 입력해주세요">
      	 		</div>
      	 		<input type="submit" value="입력">
      	 	</form>
      	 </div> 
      	 <input th:unless="${dto.status==null}" type="button" value="멤버십 갱신하기" id="membershipContinueBtn">
      
      </div>
   </div>
   </main>
  
   <div th:replace="~{layout/footer :: siteFooter}"></div>

<script th:inline="javascript">
	var upBtn=document.getElementById('membershipUpBtn');
	var downBtn=document.getElementById('membershipDownBtn');
	var continueBtn=document.getElementById('membershipContinueBtn');
	if(upBtn){
	upBtn.onclick=function(){
		membership();
	}
	}
	if(downBtn){
	downBtn.onclick=function(){
		const downReasonDiv=document.getElementById('downReasonDiv');
		downReasonDiv.style.dispaly='';
		//location.href='/membership/membershipDown';
	}
	}
	if(continueBtn){
		continueBtn.onclick=function(){
			location.href='/membership/membershipContinue';
		}
	}
	
	function membership(){
		
		kakaopaySubscriptionModule([[${detail.member_detail_idx}]],
					[[${session.user_idx}]],
					[[${detail.member_type}]],
					'1',
					[[${detail.cost}]],
					'0',
					'0',
					'/membershipApi');	
		
	}
</script>
</body>
</html>